In [5]:
import pandas as pd
import numpy as np
from scipy.stats import norm

In [19]:
ms = pd.read_csv('data/psfa_facebook.csv')
ms.head()

         Date       Open       High        Low      Close  Adj Close   Volume
0  2014-12-31  20.400000  20.510000  19.990000  20.049999  19.459270  4157500
1  2015-01-02  20.129999  20.280001  19.809999  20.129999  19.536913  2842000
2  2015-01-05  20.129999  20.190001  19.700001  19.790001  19.206934  4948800
3  2015-01-06  19.820000  19.840000  19.170000  19.190001  18.624611  4944100
4  2015-01-07  19.330000  19.500000  19.080000  19.139999  18.576082  8045200

In [20]:
ms['logReturn'] = np.log(ms['Close'].shift(-1)) - np.log(ms['Close'])

In [21]:
sample_size = ms['logReturn'].shape[0]
sample_mean = ms['logReturn'].mean()
sample_std = ms['logReturn'].std(ddof=1) / sample_size**0.5

In [22]:
# Usando distribuci√≥n Z
# left and right quantile
z_left = norm.ppf(0.05)
z_right = norm.ppf(0.95)

# upper and lower bound
interval_left = sample_mean + z_left*sample_std
interval_right = sample_mean + z_right*sample_std
print(f'Hay un 90% de chances de que el promedio del retorno este en el intervalo ({interval_left}, {interval_right}))')

Hay un 90% de chances de que el promedio del retorno este en el intervalo (0.001561647859350469, 0.004513689866989621))

In [23]:
# Diretamente
interval_left = norm.ppf(0.05, sample_mean, sample_std)
interval_right = norm.ppf(0.95, sample_mean, sample_std)

print(f'Hay un 90% de chances de que el promedio del retorno este en el intervalo ({interval_left}, {interval_right}))')

Hay un 90% de chances de que el promedio del retorno este en el intervalo (0.001561647859350469, 0.004513689866989621))